<div class="bg-white p-4 rounded-[20px] shadow-md max-w-[320px] text-center">

  <img
    src="/images/image-qr-code.png"
    alt="QR Code"
    class="rounded-[12px] mb-4 w-full"
  />

  <h1 class="text-[22px] font-bold text-[hsl(218,44%,22%)] mb-3 px-2">
    Improve your front-end skills by building projects
  </h1>

  <p class="text-[15px] text-[hsl(216,15%,48%)] px-4 pb-2">
    Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
  </p>

</div>